{% extends 'base.html' %}

{% block title %} Create New Account {% endblock %}

{% block body %}
<h1>{{ company.name }} {{company.id}} Dashboard</h1>
    <h2>Employees:</h2>
    <ul>
        {% for employee in employees %}
            <li>{{ employee.user.username }}</li>
        {% endfor %}
    </ul>
    <h2>Devices:</h2>
    <ul>
        {% for device in devices %}
            <li>{{ device.name }}</li>
        {% endfor %}
    </ul>

    <li class="btn btn-info"><a href="{% url 'Tracker:add_employee' company_id=company.id %}">Add Employee</a></li>

{% endblock %}